
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .oceano-azul-logo {
    background-image: url('/lovable-uploads/139c51cb-6a5f-42a2-be75-655591f0ddba.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@layer components {
  .app-card {
    @apply rounded-xl border border-blue-100 shadow-sm;
  }
  
  .app-input {
    @apply rounded-lg border border-gray-300;
  }
  
  .app-button {
    @apply rounded-lg;
  }
}
